{% extends 'base.html.twig' %}

{% block body %}
    {% for product in products %}
        <div>
            <h3>{{ product.name }}</h3>
            {{ product.description }}
            {{ product.price }}
            {{ product.createdAt|date('Y-m-d') }}
        </div>
    {% endfor %}
{% endblock %}