{% extends 'base.html.twig' %}

{% block body %}
    {% for product in rows %}
        <div>
            <h3>{{ product.name }}</h3>
            {{ product.description }}
            {{ product.price }}
            {{ product.created_at }}
        </div>
    {% endfor %}
{% endblock %}